@font-face {
  font-family: "sf_pro_displaybold";
  src: url("./fonts/sfprodisplay-bold-webfont.woff2") format("woff2"),
    url("./fonts/sfprodisplay-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montbold";
  src: url("./fonts/mont-bold-webfont.woff2") format("woff2"),
    url("./fonts/mont-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montsemibold";
  src: url("./fonts/mont-semibold-webfont.woff2") format("woff2"),
    url("./fonts/mont-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montregular";
  src: url("./fonts/mont-regular-webfont.woff2") format("woff2"),
    url("./fonts/mont-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sansregular";
  src: url("./fonts/product_sans_regular-webfont.woff2") format("woff2"),
    url("./fonts/product_sans_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sansbold";
  src: url("./fonts/product_sans_bold-webfont.woff2") format("woff2"),
    url("./fonts/product_sans_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Typography */

h1 {
  font-size: 80px;
}
h2 {
  font-size: 64px;
  font-weight: 800;
}
h3 {
  font-size: 50px;
  &._sm {
    font-size: 48px;
  }
}
h4 {
  font-size: 24px;
  &._lg {
    font-size: 36px;
  }
}
h6 {
  font-size: 20px;
}
p {
  font-size: 24px;
  &._lg {
    font-size: 36px;
  }
  &._sm {
    font-size: 20px;
  }
}

@mixin typography-1450 {
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 60px;
  }
}
@mixin typography-1300 {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 55px;
  }
  p {
    &._lg {
      font-size: 32px;
    }
  }
}
@mixin typography-1280 {
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 50px;
  }
  p {
    &._lg {
      font-size: 30px;
    }
  }
}
@mixin typography-1160 {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 45px;
    &._sm{
      font-size: 43px;
    }
  }
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 22px;
    &._lg {
      font-size: 28px;
    }
  }
}
@mixin typography-1025{
  h3 {
    &._sm{
      font-size: 40px;
    }
  }
  h6 {
    font-size: 18px;
  }
}
@mixin typography-940 {
  h4 {
    font-size: 21px;
  }
}
@mixin typography-768 {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 40px;
    &._sm{
      font-size: 37px;
    }
  }
  h4{
    &._lg{
      font-size: 32px;
    }
  }
 
  p {
    &._lg {
      font-size: 26px;
    }
  }
}
@mixin typography-668 {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
    &._sm{
      font-size: 34px;
    }
  }
  p {
    &._lg {
      font-size: 24px;
    }
  }
}
@mixin typography-580 {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 37px;
  }
  h3 {
    font-size: 30px;
    &._sm{
      font-size: 27px;
    }
  }
  h4{
    &._lg{
      font-size: 27px;
    }
  }
  p {
    &._lg {
      font-size: 22px;
    }
  }
}
@mixin typography-460 {
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 27px;
    &._sm{
      font-size: 25px;
    }
  }
  h4{
    &._lg{
      font-size: 25px;
    }
  }
  p {
    &._lg {
      font-size: 20px;
    }
    &._sm{
      font-size: 18px;
    }
  }
}
@mixin typography-390 {
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 25px;
    &._sm{
      font-size: 23px;
    }
  }
  h4 {
    &._lg{
      font-size: 23px;
    }
    font-size: 20px;
  }
  p {
    &._lg {
      font-size: 18px;
    }
    &._sm{
      font-size: 16px;
    }
  }
}
