$primary: #FECE00;
$black: #000000;
$white: #ffffff;
$gray:#858585;
$gradient: linear-gradient(90deg, #e65300 -12.36%, #595959 100%);

$font-primary: "Mont", sans-serif;
$font-secondary: "Product Sans", sans-serif;
$font-button: "SF Pro Display", sans-serif;
