.hero {
  padding: 320rem 0 210rem;
  position: relative;
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30rem;
    z-index: 2;
    p {
      max-width: 660rem;
      font-weight: 600;
    }
  }

  &__bg {
    z-index: -1;
  }
}
.about {
  margin-top: -170rem;
  position: relative;
  z-index: 3;
  position: relative;
  &__inner {
    padding: 380rem 30rem 300rem;
    max-width: 1100rem;
    margin: 0 auto;
    p {
      text-align: center;
      font-weight: 400;
      max-width: 710rem;
      font-family: $font-secondary;
      line-height: 1.6;
      margin: 0 auto;
    }
  }
  &__bg {
    z-index: -1;
    width: 1920rem;
    left: 50%;
    transform: translateX(-50%);
    img {
      object-fit: contain !important;
    }
  }
}
.benefits {
  position: relative;
  z-index: 2;
  &__inner {
    h2 {
      margin-bottom: 28rem;
      text-align: center;
    }
    &-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20rem;
    }
    &-column {
      width: calc(33.3% - 20rem);
      display: flex;
      flex-direction: column;
      gap: 46rem;
      &.midle {
        margin-top: 130rem;
      }
    }
  }
  &Item {
    padding: 18rem 26rem 26rem;
    background: $white;
    box-shadow: 5rem 8rem 33rem rgba(0, 0, 0, 0.25);
    border-radius: 24rem;
    position: relative;
    width: 100%;
    max-width: 424rem;
    &__image {
      .ratioImage {
        border-radius: 15rem;
        overflow: hidden;
        &:after {
          content: "";
          width: 100%;
          height: 50%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(
            0deg,
            #fece00 0%,
            rgba(254, 206, 0, 0) 95.37%
          );
        }
      }
    }
    h4 {
      position: absolute;
      width: 80%;
      left: 50%;
      bottom: 55rem;
      text-align: center;
      transform: translateX(-50%);
      font-weight: 800;
    }
  }
}
.service {
  position: relative;
  margin-top: -120rem;
  padding: 230rem 0 145rem;
  &__inner {
    h3 {
      margin-bottom: 35rem;
      text-align: center;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 25rem 15rem;
    }
  }
  &Item {
    width: calc(33.3% - 15rem);
    &__body {
      max-width: 285rem;
      margin: 0 auto;
      &-image {
        max-width: 175rem;
        margin: 0 auto 25rem;
        .ratioImage {
          padding-bottom: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    h6 {
      padding: 0.5em 2em 0.7em;
      font-weight: bold;
      color: $white;
      background: $gradient;
      border-radius: 34rem;
      text-align: center;
    }
  }
  &__bg {
    z-index: -1;
  }
}
.products {
  padding: 30rem 0 20rem;
  position: relative;
  z-index: 3;
  &__inner {
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15rem;
      margin: 52rem 0 40rem;
    }
  }
  &Item {
    width: calc(16.6% - 15rem);
    &__image {
      width: 100%;
      max-width: 155rem;
      border-radius: 50rem;
      overflow: hidden;
      margin: 0 auto 18rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__bg {
    z-index: -1;
  }
  h3 {
    text-align: center;
    font-weight: 800;
    &._sm {
      font-weight: 700;
    }
  }
}
.info {
  position: relative;
  padding: 180rem 0 210rem;
  &__inner {
    max-width: 560rem;
    h4 {
      margin-bottom: 20rem;
      color: $white;
    }
    p {
      font-size: 400;
      font-family: $font-secondary;
      color: $white;
    }
  }
  &__bg {
    z-index: -1;
    min-width: 1800rem;
    left: 50%;
    transform: translateX(-50%);
    img {
      object-fit: cover;
    }
  }
}
.contact {
  &__inner {
    padding: 220rem 0 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-info {
      display: flex;
      flex-direction: column;
      gap: 25rem;
      width: calc(50% - 10rem);
      max-width: 740rem;
      p {
        color: $white;
      }
      h4 {
        color: $white;
      }
    }
    &-form {
      width: calc(50% - 10rem);
      max-width: 580rem;
      display: flex;
      flex-direction: column;
      gap: 16rem;
      align-items: flex-start;
    }
  }
}
.wrapper {
  position: relative;
  z-index: 3;
  margin-top: -180rem;

  &__bg {
  }
}
.policy {
  margin: 170px 0 100px;
  &__inner {
    padding: 20px ;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h1{
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
  }
  h2{
    font-weight: 600;
  }
  p{
    line-height: 1.4;
  }
  a{
    color: blue;
  }
}

@mixin index-1024 {
  .about {
    &__inner {
      padding: 360rem 30rem 300rem;
    }
    &__bg {
      min-width: 1450rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .wrapper {
    &__bg {
      img {
        object-position: right;
      }
    }
  }
  .policy{
    margin: 150px 0 90px;
  }
}
@mixin index-940 {
  .hero {
    padding: 300rem 0 190rem;
    &__bg {
      width: 100%;
    }
  }
}
@mixin index-840 {
  .hero {
    padding: 270rem 0 170rem;
  }
  .contact {
    &__inner {
      &-form {
        width: 47%;
      }
    }
  }
  .about {
    margin-top: -140rem;
  }
  .policy{
    margin: 100px 0 40px;
  }
}
@mixin index-740 {
  .hero {
    padding: 250rem 0 150rem;
  }
  .about {
    margin-top: -130rem;
    &__inner {
      padding: 260rem 20rem 200rem;
      p {
        max-width: 500rem;
      }
    }
    &__bg {
      width: 1124rem;
      min-width: unset;
      left: 50%;
      transform: translatex(-50%);
    }
  }
  .benefits {
    &__inner {
      &-content {
        gap: 10rem;
      }
      &-column {
        width: calc(33.3% - 10rem);
      }
    }
  }
}
@mixin index-680 {
  .benefits {
    &__inner {
      h2 {
        margin-bottom: 40rem;
      }
      &-content {
        flex-wrap: wrap;
        gap: 30rem;
      }
      &-column {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 20rem;
        &.midle {
          margin-top: 0;
        }
      }
    }
    &Item {
      max-width: 500rem;
      width: calc(50% - 10rem);
    }
  }
  .policy{
    margin: 80px 0 40px;
  }
}
@mixin index-600 {
  .contact {
    &__inner {
      flex-direction: column;
      padding: 240rem 0 80rem;
      gap: 30rem;
      &-info {
        width: 100%;
        max-width: 700rem;
      }
      &-form {
        width: 100%;
        max-width: 700rem;
      }
    }
  }
  .service {
    &Item {
      &__body {
        &-image {
          max-width: 160rem;
        }
      }
    }
  }
}
@mixin index-520 {
  .service {
    &__inner {
      &-row {
        justify-content: space-evenly;
      }
    }
    &Item {
      width: calc(50% - 15rem);
      max-width: 300rem;
    }
  }
  .products {
    &__inner {
      &-row {
        flex-wrap: wrap;
        gap: 25rem 15rem;
        margin-bottom: 30rem;
      }
    }
    &Item {
      &__image {
        max-width: 210rem;
      }
      width: calc(33.3% - 15rem);
    }
  }
}
@mixin index-450 {
  .hero {
    padding: 180rem 0 130rem;
    &__inner {
      gap: 25rem;
    }
  }
  .about {
    margin-top: -100rem;
    &__inner {
      padding: 230rem 30rem 185rem;
    }
  }
  .benefits {
    &Item {
      padding: 10rem;
      h4 {
        bottom: 45rem;
      }
    }
  }
  .service {
    &__inner {
      &-row {
        gap: 20rem 10rem;
      }
    }
    &Item {
      width: calc(50% - 10rem);
      &__body {
        &-image {
          width: 165rem;
          height: 165rem;
        }
      }
      h6 {
        padding: 0.5em 1.7em 0.7em;
      }
    }
  }
  .info {
    padding: 132rem 0 160rem;
  }
   .policy{
    margin: 130px 0 40px;
  }
}
@mixin index-400 {
  .benefits {
    &__inner {
      &-content {
        gap: 10rem;
      }
    }
    &Item {
      width: calc(50% - 6rem);
    }
  }
  .hero {
    padding: 220rem 0 130rem;
    &__bg {
      img {
        object-fit: cover !important;
      }
    }
  }
  .policy{
    &__inner{
      padding: 15px;
      h2{
        font-size:35rem ;
        @include ellipsis;
      }
    }
  }
  
}
@mixin index-350 {
  .hero {
    &__inner {
      gap: 20rem;
    }
  }
  .about {
    &__inner {
      padding: 230rem 0 170rem;
    }
  }
  .service {
    &__inner {
    }
    &Item {
      width: 100%;
      &__body {
        &-image {
          width: 165rem;
          height: 165rem;
        }
      }
      h6 {
        padding: 0.5em 1.7em 0.7em;
      }
    }
  }
  .benefits {
    &__inner {
      &-column {
        flex-wrap: wrap;
      }
      &-content {
        gap: 20rem;
      }
    }
    &Item {
      width: 100%;
      max-width: 450rem;
    }
  }
  .contact {
    &__inner {
      padding: 260rem 0 150rem;
    }
  }
}
// @mixin index-460 {
//   .contact {
//     &__inner {
//       // padding: 170rem 0 70rem;
//     }
//   }
//   .about {
//     &__inner {
//       // padding: 165rem 0 90rem;
//     }
//   }
// }
// @mixin index-390 {
//   .hero {
//     padding: 200rem 0 130rem;
//   }
//   .benefits {
//     &Item {
//       h4 {
//         bottom: 40rem;
//       }
//     }
//   }
//   .products {
//     &__inner {
//       &-row {
//         flex-wrap: wrap;
//         gap: 25rem 15rem;
//         margin-bottom: 30rem;
//       }
//     }
//     &Item {
//       &__image {
//         max-width: 210rem;
//       }
//       width: calc(50% - 15rem);
//     }
//   }
//   .about {
//     &__inner {
//       padding: 190rem 0 160rem;
//     }
//   }
// }
