.hero {
  padding: 320px 0 210px;
  position: relative;
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    z-index: 2;
    p {
      max-width: 660px;
      font-weight: 600;
    }
  }

  &__bg {
    z-index: -1;
  }
}
.about {
  margin-top: -170px;
  position: relative;
  z-index: 3;
  position: relative;
  &__inner {
    padding: 356px 30px 303px;
    max-width: 1100px;
    margin: 0 auto;
    p {
      text-align: center;
      font-weight: 400;
      max-width: 710px;
      font-family: $font-secondary;
      line-height: 1.6;
      margin: 0 auto;
    }
  }
  &__bg {
    z-index: -1;
    img {
      object-fit: contain !important;
    }
  }
}
.benefits {
  position: relative;
  z-index: 2;
  &__inner {
    h2 {
      margin-bottom: 28px;
      text-align: center;
    }
    &-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }
    &-column {
      width: calc(33.3% - 20px);
      display: flex;
      flex-direction: column;
      gap: 46px;
      &.midle {
        margin-top: 130px;
      }
    }
  }
  &Item {
    padding: 18px 26px 26px;
    background: $white;
    box-shadow: 5px 8px 33px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    position: relative;
    width: 100%;
    max-width: 424px;
    &__image {
      .ratioImage {
        border-radius: 15px;
        overflow: hidden;
        &:after {
          content: "";
          width: 100%;
          height: 50%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(
            0deg,
            #fece00 0%,
            rgba(254, 206, 0, 0) 95.37%
          );
        }
      }
    }
    h4 {
      position: absolute;
      width: 80%;
      left: 50%;
      bottom: 55px;
      text-align: center;
      transform: translateX(-50%);
      font-weight: 800;
    }
  }
}
.service {
  position: relative;
  margin-top: -120px;
  padding: 230px 0 145px;
  &__inner {
    h3 {
      margin-bottom: 35px;
      text-align: center;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 25px 15px;
    }
  }
  &Item {
    width: calc(33.3% - 15px);
    &__body {
      max-width: 285px;
      margin: 0 auto;
      &-image {
        max-width: 175px;
        margin: 0 auto 25px;
        .ratioImage {
          padding-bottom: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    h6 {
      padding: 0.5em 2em 0.7em;
      font-weight: bold;
      color: $white;
      background: $gradient;
      border-radius: 34px;
      text-align: center;
    }
  }
  &__bg {
    z-index: -1;
  }
}
.products {
  padding: 30px 0 20px;
  position: relative;
  z-index: 3;
  &__inner {
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px;
      margin: 52px 0 15px;
    }
  }
  &Item {
    width: calc(16.6% - 15px);
    &__image {
      width: 100%;
      max-width: 155px;
      border-radius: 50px;
      overflow: hidden;
      margin: 0 auto 18px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__bg {
    z-index: -1;
  }
  h3 {
    text-align: center;
    font-weight: 800;
    &._sm {
      font-weight: 700;
    }
  }
}
.info {
  position: relative;
  padding: 180px 0 210px;
  &__inner {
    max-width: 540px;
    h4 {
      margin-bottom: 20px;
      color: $white;
    }
    p {
      font-size: 400;
      font-family: $font-secondary;
      color: $white;
    }
  }
  &__bg {
    z-index: -1;
    min-width: 1800px;
    left: 50%;
    transform: translateX(-50%);
    img {
      object-fit: cover;
    }
  }
}
.contact {
  &__inner {
    padding: 220px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-info {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: calc(50% - 10px);
      max-width: 740px;
      p {
        color: $white;
      }
      h4 {
        color: $white;
      }
    }
    &-form {
      width: calc(50% - 10px);
      max-width: 580px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
    }
  }
}
.wrapper {
  position: relative;
  z-index: 3;
  margin-top: -180px;

  &__bg {
  }
}

@mixin index-1600 {
  .about {
    &__bg {
      width: 100%;
      max-width: 1200px;
      min-width: 950px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .wrapper {
    &__bg {
      img {
        object-position: right;
      }
    }
  }
}
@mixin index-1450 {
  .hero {
    padding: 300px 0 190px;
    &__bg {
      width: 100%;
    }
  }
}
@mixin index-1300 {
  .hero {
    padding: 270px 0 170px;
  }
  .contact {
    &__inner {
      &-form {
        width: 47%;
      }
    }
  }
}
@mixin index-1280 {
  .hero {
    padding: 250px 0 150px;
  }
  .about {
    margin-top: -130px;
    &__inner {
      padding: 300px 20px 270px;
      p {
        max-width: 500px;
      }
    }
    &__bg {
      max-width: 880px;
      min-width: 880px;
    }
  }
  .benefits {
    &__inner {
      &-content {
        gap: 10px;
      }
      &-column {
        width: calc(33.3% - 10px);
      }
    }
  }
}
@mixin index-1160 {
  .benefits {
    &__inner {
      h2 {
        margin-bottom: 40px;
      }
      &-content {
        flex-wrap: wrap;
        gap: 30px;
      }
      &-column {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        &.midle {
          margin-top: 0;
        }
      }
    }
    &Item {
      max-width: 500px;
      width: calc(50% - 10px);
    }
  }
}
@mixin index-1025 {
  .contact {
    &__inner {
      flex-direction: column;
      padding: 260px 0 250px;
      gap: 30px;
      &-info {
        width: 100%;
        max-width: 700px;
      }
      &-form {
        width: 100%;
        max-width: 700px;
      }
    }
  }
  .service {
    &Item {
      &__body {
        &-image {
          max-width: 160px;
        }
      }
    }
  }
}
@mixin index-940 {
  .service {
    &__inner {
      &-row {
        justify-content: space-evenly;
      }
    }
    &Item {
      width: calc(50% - 15px);
      max-width: 300px;
    }
  }
  .products {
    &__inner {
      &-row {
        flex-wrap: wrap;
        gap: 25px 15px;
        margin-bottom: 30px;
      }
    }
    &Item {
      &__image {
        max-width: 210px;
      }
      width: calc(33.3% - 15px);
    }
  }
}
@mixin index-768 {
  .hero {
    padding: 200px 0 130px;
    &__inner {
      gap: 25px;
    }
  }
  .about {
    margin-top: -100px;
    &__inner {
      padding: 250px 30px 150px;
    }
  }
  .benefits {
    &Item {
      padding: 10px;
      h4 {
        bottom: 45px;
      }
    }
  }
  .service {
    &__inner {
      &-row {
        gap: 20px 10px;
      }
    }
    &Item {
      width: calc(50% - 10px);
      &__body {
        &-image {
          width: 165px;
          height: 165px;
        }
      }
      h6 {
        padding: 0.5em 1.7em 0.7em;
      }
    }
  }
  .info {
    padding: 132px 0 160px;
  }
}
@mixin index-668 {
  .benefits {
    &__inner {
      &-content {
        gap: 10px;
      }
    }
    &Item {
      width: calc(50% - 6px);
    }
  }
}
@mixin index-580 {
  .hero {
    &__inner {
      gap: 20px;
    }
  }
  .about {
    &__inner {
      padding: 250px 0 150px;
    }
  }
  .service {
    &__inner {
    }
    &Item {
      width: 100%;
      &__body {
        &-image {
          width: 165px;
          height: 165px;
        }
      }
      h6 {
        padding: 0.5em 1.7em 0.7em;
      }
    }
  }
  .benefits {
    &__inner {
      &-column {
        flex-wrap: wrap;
      }
      &-content {
        gap: 20px;
      }
    }
    &Item {
      width: 100%;
      max-width: 450px;
    }
  }
  .contact {
    &__inner {
      padding: 260px 0 150px;
    }
  }
}
@mixin index-460 {
  .hero {
    padding: 150px 0 80px;
  }
  .contact {
    &__inner {
      // padding: 170px 0 70px;
    }
  }
}
@mixin index-390 {
  .benefits {
    &Item {
      h4 {
        bottom: 40px;
      }
    }
  }
  .products {
    &__inner {
      &-row {
        flex-wrap: wrap;
        gap: 25px 15px;
        margin-bottom: 30px;
      }
    }
    &Item {
      &__image {
        max-width: 210px;
      }
      width: calc(50% - 15px);
    }
  }
}
