/// section footer
.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80rem;
    gap: 30rem;
    &-links {
      display: flex;
      flex-direction: column;
      gap: 8rem;
    }
    &-content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 20rem;
      padding-top: 50rem;
      width: 50%;
      max-width: 580rem;
    }
    &-contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5rem;
    }
    a {
      color: $white;
      font-weight: 400;
      @include transition;
    }
  }
  &__copy {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 45rem 0;
    position: relative;
    gap: 15rem;
    flex-wrap: wrap;
    &::before {
      content: "";
      width: 1000%;
      height: 100%;
      background: #595959;
      position: absolute;
      top: 0;
      left: -500%;
    }
    p {
      color: $white;
      font-size: 16rem;
      font-weight: 400;
      position: relative;
    }
    a {
      color: $white;
      font-size: 16rem;
      font-weight: 400;
      position: relative;
      @include transition;
      &:hover {
        color: $primary;
      }
    }
  }
  .button {
    font-size: 17rem;
  }
  &Link {
    color: $white;
    font-weight: 400;
    font-size: 20rem;
    @include transition;
    &:hover {
      color: $primary;
      opacity: 0.8;
    }
  }
  .button {
    &:hover {
      color: $primary;
      opacity: 0.8;
    }
  }
  .dropdown {
    z-index: 3;
    button {
      padding-bottom: 0.3em;
    }
    &__content {
      padding: 0.5em 0.5em;
      width: auto;
      display: flex;
      flex-direction: column;
      a {
        color: $black;
        padding: 0.2em 0.5em;
        font-size: 18rem;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

@mixin footer-1160 {
  .footer {
    &__inner {
      &-logo {
        width: 270rem;
      }
    }
  }
}
@mixin footer-1025 {
  .footer {
    &__inner {
      &-logo {
        width: 250rem;
      }
    }
    &__copy {
      gap: 10rem 15rem;
      padding: 15rem 0;
      justify-content: center;
      p {
        text-align: center;
        order: 1;
        width: 100%;
      }
    }
  }
}
@mixin footer-940 {
  .footer {
    &__inner {
      &-content {
        width: calc(100% - 250rem);
        max-width: 450rem;
      }
      &-logo {
        width: 230rem;
      }
    }
  }
}
@mixin footer-668 {
  .footer {
    &__inner {
      flex-direction: column;
      &-content {
        padding-top: 0;
        width: 100%;
        margin: 0 auto;
      }
    }
    &__copy {
      padding: 30rem 0;
    }
  }
}
@mixin footer-390 {
  .footer {
    &__inner {
      flex-direction: column;
      padding-bottom: 60rem;
      &-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30rem;
      }
      &-logo {
        width: 200rem;
      }
    }
    &__copy {
      padding: 30rem 0;
      a,
      p {
        font-size: 14rem;
      }
    }
    .dropdown {
      z-index: 3;
      &:hover {
        .dropdown {
          &__content {
            padding: 0.5em 0.5em;
            a {
              padding: 0.2em 0.5em;
            }
          }
        }
      }
      &__content {
        padding: unset;
        position: unset;
        @include transition;
        a {
          padding: unset;
        }
      }
    }
  }
}
