@media (max-width: 1600px) {
  @include index-1600;
  @include components-1600;
}
@media (max-width: 1450px) {
  @include header-1450;
  @include typography-1450;
  @include index-1450;
}
@media (max-width: 1300px) {
  @include header-1300;
  @include typography-1300;
  @include index-1300;
  @include components-1300;
}
@media (max-width: 1280px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include header-1280;
  @include typography-1280;
  @include index-1280;
}
@media (max-width: 1160px) {
  @include typography-1160;
  @include index-1160;
  @include components-1160;
  @include footer-1160;
}
@media (max-width: 1025px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include header-1025;
  @include index-1025;
  @include footer-1025;
  @include typography-1025;
}
@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }
  @include components-940;
  @include index-940;
  @include typography-940;
  @include footer-940;
}
@media (max-width: 768px) {
  .autoContainer {
    padding: 0 15px;
  }
  @include typography-768;
  @include components-768;
  @include index-768;
  @include header-768;
}
@media (max-width: 668px) {
  @include typography-668;
  @include components-668;
  @include index-668;
  @include footer-668;
}
@media (max-width: 580px) {
  ._hideMob {
    display: none;
  }
  @include typography-580;
  @include index-580;
}
@media (max-width: 460px) {
  @include typography-460;
  @include components-460;
  @include index-460;
  @include header-460;
}
@media (max-width: 390px) {
  @include typography-390;
  @include index-390;
  @include header-390;
  @include footer-390;
}
